.wrapper {
  margin: auto;
  width: max-content;
  padding: 10px 20px 0;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

.heading {
  text-decoration: underline;
}

.add-form {
  display: flex;
  align-items: flex-end;
}
